<form [formGroup]="droneForm" (ngSubmit)="onSubmit()" class="p-fluid">
  <div class="p-field">
    <label for="name">Name</label>
    <input id="name" type="text" pInputText formControlName="name" required />
    <small
      *ngIf="droneForm.get('name')?.invalid && droneForm.get('name')?.touched"
      class="p-error"
    >
      Name is required
    </small>
  </div>

  <div class="p-field">
    <label for="model">Model</label>
    <input id="model" type="text" pInputText formControlName="model" required />
    <small
      *ngIf="droneForm.get('model')?.invalid && droneForm.get('model')?.touched"
      class="p-error"
    >
      Model is required
    </small>
  </div>

  <div class="p-field">
    <label for="matrixId">Matrix</label>
    <p-dropdown
      id="matrixId"
      [options]="matrices"
      formControlName="matrixId"
      optionLabel="id"
      optionValue="id"
      placeholder="Select a Matrix"
    >
      <ng-template pTemplate="selectedItem">
        <div *ngIf="droneForm.get('matrixId')?.value">
          {{ getMatrixName(droneForm.get("matrixId")?.value) }}
        </div>
      </ng-template>
      <ng-template let-matrix pTemplate="item">
        {{ getMatrixName(matrix.id!) }}
      </ng-template>
    </p-dropdown>
    <small
      *ngIf="
        droneForm.get('matrixId')?.invalid && droneForm.get('matrixId')?.touched
      "
      class="p-error"
    >
      Matrix is required
    </small>
  </div>

  <div class="p-grid">
    <div class="p-col-6 p-field">
      <label for="x">X Position</label>
      <p-inputNumber id="x" formControlName="x" [min]="0"></p-inputNumber>
      <small
        *ngIf="droneForm.get('x')?.invalid && droneForm.get('x')?.touched"
        class="p-error"
      >
        Valid X position is required
      </small>
    </div>
    <div class="p-col-6 p-field">
      <label for="y">Y Position</label>
      <p-inputNumber id="y" formControlName="y" [min]="0"></p-inputNumber>
      <small
        *ngIf="droneForm.get('y')?.invalid && droneForm.get('y')?.touched"
        class="p-error"
      >
        Valid Y position is required
      </small>
    </div>
  </div>

  <div class="p-field">
    <label for="orientation">Orientation</label>
    <p-dropdown
      id="orientation"
      [options]="orientationOptions"
      formControlName="orientation"
      optionLabel="label"
      optionValue="value"
    ></p-dropdown>
    <small
      *ngIf="
        droneForm.get('orientation')?.invalid &&
        droneForm.get('orientation')?.touched
      "
      class="p-error"
    >
      Orientation is required
    </small>
  </div>

  <div class="form-actions">
    <button
      pButton
      type="button"
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="onCancel()"
    ></button>
    <button
      pButton
      type="submit"
      label="{{ isEdit ? 'Update' : 'Create' }}"
      icon="pi pi-check"
      [disabled]="droneForm.invalid"
    ></button>
  </div>
</form>
