<div class="drone-list-container">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <h1>Drones</h1>
    </div>
    <div class="p-toolbar-group-right">
      <button
        pButton
        pRipple
        label="Create New Drone"
        icon="pi pi-plus"
        class="p-button-success"
        (click)="createDrone()"
        title="Create a new drone"
      ></button>
    </div>
  </p-toolbar>

  <div class="card mt-4">
    <p-table
      [value]="drones"
      [loading]="loading"
      styleClass="p-datatable-gridlines p-datatable-sm"
      [paginator]="drones.length > 10"
      [rows]="10"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="header">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Model</th>
          <th scope="col">Position</th>
          <th scope="col">Orientation</th>
          <th scope="col">Matrix</th>
          <th scope="col">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-drone>
        <tr>
          <td>{{ drone.id }}</td>
          <td>{{ drone.name }}</td>
          <td>{{ drone.model }}</td>
          <td>({{ drone.x }}, {{ drone.y }})</td>
          <td>{{ drone.orientation }}</td>
          <td>
            <p-chip
              [label]="'Matrix #' + drone.matrixId"
              styleClass="matrix-chip"
              (click)="viewMatrix(drone.matrixId)"
              (keydown.enter)="viewMatrix(drone.matrixId)"
            ></p-chip>
          </td>
          <td>
            <div class="action-buttons">
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-rounded p-button-info p-button-sm mr-2"
                (click)="editDrone(drone)"
                pTooltip="Edit"
                title="Edit drone"
              ></button>
              <button
                pButton
                pRipple
                icon="pi pi-send"
                class="p-button-rounded p-button-success p-button-sm mr-2"
                (click)="goToFlightControl(drone)"
                pTooltip="Control Flight"
                title="Control drone flight"
              ></button>
              <button
                pButton
                pRipple
                icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-sm"
                (click)="deleteDrone(drone)"
                pTooltip="Delete"
                title="Delete drone"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7" class="text-center">
            <div *ngIf="!loading" class="empty-message">
              <p>No drones found</p>
              <button
                pButton
                pRipple
                label="Create First Drone"
                icon="pi pi-plus"
                class="p-button-success"
                (click)="createDrone()"
                title="Create the first drone"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
