<div class="drone-list">
  <div class="page-header">
    <h2 class="page-title">Drones</h2>
    <button
      pButton
      label="Create Drone"
      icon="pi pi-plus"
      (click)="openCreateDialog()"
      class="p-button-success"
      title="Create a new drone"
    ></button>
  </div>

  <div *ngIf="loading" class="loading-container">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <div *ngIf="!loading" class="drone-table-container">
    <p-table
      [value]="drones"
      [paginator]="true"
      [rows]="10"
      styleClass="p-datatable-gridlines"
      [responsive]="true"
      [globalFilterFields]="['name', 'model']"
    >
      <ng-template pTemplate="caption">
        <div class="table-header">
          <h5>Available Drones</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Search..." />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Model</th>
          <th scope="col">Position</th>
          <th scope="col">Orientation</th>
          <th scope="col">Matrix</th>
          <th scope="col">Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-drone>
        <tr>
          <td>{{ drone.id }}</td>
          <td>{{ drone.name }}</td>
          <td>{{ drone.model }}</td>
          <td>({{ drone.x }}, {{ drone.y }})</td>
          <td>{{ drone.orientation }}</td>
          <td>{{ getMatrixName(drone.matrixId) }}</td>
          <td>
            <div class="action-buttons">
              <button
                pButton
                icon="pi pi-eye"
                class="p-button-rounded p-button-info p-button-sm"
                [routerLink]="['/drones', drone.id]"
                pTooltip="View Details"
                title="View drone details"
              ></button>
              <button
                pButton
                icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-sm"
                (click)="confirmDelete(drone)"
                pTooltip="Delete"
                title="Delete drone"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7" class="text-center">No drones found</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog
    [(visible)]="displayCreateDialog"
    [style]="{ width: '500px' }"
    header="Create New Drone"
    [modal]="true"
    styleClass="p-fluid"
  >
    <div class="p-field">
      <label for="droneName">Name</label>
      <input
        id="droneName"
        type="text"
        pInputText
        [(ngModel)]="newDrone.name"
        required
      />
    </div>
    <div class="p-field">
      <label for="droneModel">Model</label>
      <input
        id="droneModel"
        type="text"
        pInputText
        [(ngModel)]="newDrone.model"
        required
      />
    </div>
    <div class="p-field">
      <label for="droneMatrix">Matrix</label>
      <p-dropdown
        id="droneMatrix"
        [options]="matrices"
        [(ngModel)]="newDrone.matrixId"
        optionLabel="id"
        optionValue="id"
        placeholder="Select a Matrix"
      >
        <ng-template pTemplate="selectedItem">
          <div *ngIf="newDrone.matrixId">
            {{ getMatrixName(newDrone.matrixId) }}
          </div>
        </ng-template>
        <ng-template let-matrix pTemplate="item">
          {{ getMatrixName(matrix.id!) }}
        </ng-template>
      </p-dropdown>
    </div>
    <div class="p-grid">
      <div class="p-col-6 p-field">
        <label for="droneX">X Position</label>
        <p-inputNumber
          id="droneX"
          [(ngModel)]="newDrone.x"
          [min]="0"
        ></p-inputNumber>
      </div>
      <div class="p-col-6 p-field">
        <label for="droneY">Y Position</label>
        <p-inputNumber
          id="droneY"
          [(ngModel)]="newDrone.y"
          [min]="0"
        ></p-inputNumber>
      </div>
    </div>
    <div class="p-field">
      <label for="droneOrientation">Orientation</label>
      <p-dropdown
        id="droneOrientation"
        [options]="orientationOptions"
        [(ngModel)]="newDrone.orientation"
        optionLabel="label"
        optionValue="value"
      ></p-dropdown>
    </div>
    <ng-template pTemplate="footer">
      <button
        pButton
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        (click)="displayCreateDialog = false"
        title="Cancel creation"
      ></button>
      <button
        pButton
        label="Create"
        icon="pi pi-check"
        class="p-button-text"
        (click)="createDrone()"
        title="Create drone"
      ></button>
    </ng-template>
  </p-dialog>
</div>
