<div class="matrix-list">
  <div class="page-header">
    <h2 class="page-title">Matrices</h2>
    <button
      pButton
      label="Create Matrix"
      icon="pi pi-plus"
      (click)="openCreateDialog()"
      class="p-button-success"
    ></button>
  </div>

  <div *ngIf="loading" class="loading-container">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <div *ngIf="!loading" class="matrix-table-container">
    <p-table
      [value]="matrices"
      [paginator]="true"
      [rows]="10"
      styleClass="p-datatable-gridlines"
      [responsive]="true"
      [globalFilterFields]="['id']"
    >
      <ng-template pTemplate="caption">
        <div class="table-header">
          <h5>Available Matrices</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" placeholder="Search..." />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Dimensions</th>
          <th>Drones</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-matrix>
        <tr>
          <td>{{ matrix.id }}</td>
          <td>{{ matrix.maxX }} x {{ matrix.maxY }}</td>
          <td>{{ matrix.drones?.length || 0 }}</td>
          <td>
            <div class="action-buttons">
              <button
                pButton
                icon="pi pi-eye"
                class="p-button-rounded p-button-info p-button-sm"
                [routerLink]="['/matrices', matrix.id]"
                pTooltip="View Details"
              ></button>
              <button
                pButton
                icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-sm"
                (click)="confirmDelete(matrix)"
                pTooltip="Delete"
              ></button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4" class="text-center">No matrices found</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <p-dialog
    [(visible)]="displayCreateDialog"
    [style]="{ width: '450px' }"
    header="Create New Matrix"
    [modal]="true"
    styleClass="p-fluid"
  >
    <div class="p-field">
      <label for="maxX">Max X</label>
      <p-inputNumber
        id="maxX"
        [(ngModel)]="newMatrix.maxX"
        [min]="1"
        [max]="100"
      ></p-inputNumber>
    </div>
    <div class="p-field">
      <label for="maxY">Max Y</label>
      <p-inputNumber
        id="maxY"
        [(ngModel)]="newMatrix.maxY"
        [min]="1"
        [max]="100"
      ></p-inputNumber>
    </div>
    <ng-template pTemplate="footer">
      <button
        pButton
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        (click)="displayCreateDialog = false"
      ></button>
      <button
        pButton
        label="Create"
        icon="pi pi-check"
        class="p-button-text"
        (click)="createMatrix()"
      ></button>
    </ng-template>
  </p-dialog>
</div>
