<div class="matrix-detail">
  <div class="page-header">
    <div class="page-title-section">
      <button
        pButton
        icon="pi pi-arrow-left"
        class="p-button-text"
        [routerLink]="['/matrices']"
        title="Go back to matrices"
      ></button>
      <h2 class="page-title" *ngIf="matrix">Matrix #{{ matrix.id }}</h2>
    </div>
    <div class="page-actions" *ngIf="matrix">
      <button
        pButton
        label="Edit Matrix"
        icon="pi pi-pencil"
        (click)="openEditDialog()"
        class="p-button-outlined"
        title="Edit this matrix"
      ></button>
      <button
        pButton
        label="Add Drone"
        icon="pi pi-plus"
        (click)="openAddDroneDialog()"
        class="p-button-success"
        title="Add a new drone to this matrix"
      ></button>
    </div>
  </div>

  <div *ngIf="loading" class="loading-container">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <div *ngIf="!loading && matrix" class="matrix-content">
    <div class="matrix-info-section">
      <p-card styleClass="matrix-info-card">
        <ng-template pTemplate="title"> Matrix Information </ng-template>
        <ng-template pTemplate="content">
          <div class="matrix-info">
            <div class="info-item">
              <span class="info-label">ID:</span>
              <span class="info-value">{{ matrix.id }}</span>
            </div>
            <div class="info-item">
              <span class="info-label">Dimensions:</span>
              <span class="info-value"
                >{{ matrix.maxX }} x {{ matrix.maxY }}</span
              >
            </div>
            <div class="info-item">
              <span class="info-label">Drones:</span>
              <span class="info-value">{{ matrix.drones?.length || 0 }}</span>
            </div>
          </div>
        </ng-template>
      </p-card>
    </div>

    <div class="matrix-grid-section">
      <p-card styleClass="matrix-grid-card">
        <ng-template pTemplate="title"> Matrix Grid </ng-template>
        <ng-template pTemplate="content">
          <app-matrix-grid [matrix]="matrix"></app-matrix-grid>
        </ng-template>
      </p-card>
    </div>

    <div class="matrix-drones-section">
      <p-card styleClass="matrix-drones-card">
        <ng-template pTemplate="title"> Drones in Matrix </ng-template>
        <ng-template pTemplate="content">
          <p-table
            [value]="matrix.drones || []"
            styleClass="p-datatable-sm"
            [responsive]="true"
          >
            <ng-template pTemplate="header">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Model</th>
                <th scope="col">Position</th>
                <th scope="col">Orientation</th>
                <th scope="col">Actions</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-drone>
              <tr>
                <td>{{ drone.id }}</td>
                <td>{{ drone.name }}</td>
                <td>{{ drone.model }}</td>
                <td>({{ drone.x }}, {{ drone.y }})</td>
                <td>{{ drone.orientation }}</td>
                <td>
                  <div class="action-buttons">
                    <button
                      pButton
                      icon="pi pi-eye"
                      class="p-button-rounded p-button-info p-button-sm"
                      [routerLink]="['/drones', drone.id]"
                      pTooltip="View Details"
                      title="View drone details"
                    ></button>
                    <button
                      pButton
                      icon="pi pi-trash"
                      class="p-button-rounded p-button-danger p-button-sm"
                      (click)="confirmDeleteDrone(drone)"
                      pTooltip="Delete"
                      title="Delete this drone"
                    ></button>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="6" class="text-center">
                  No drones in this matrix
                </td>
              </tr>
            </ng-template>
          </p-table>
        </ng-template>
      </p-card>
    </div>
  </div>

  <p-dialog
    [(visible)]="displayEditDialog"
    [style]="{ width: '450px' }"
    header="Edit Matrix"
    [modal]="true"
    styleClass="p-fluid"
  >
    <div class="p-field">
      <label for="maxX">Max X</label>
      <p-inputNumber
        id="maxX"
        [(ngModel)]="editMatrix.maxX"
        [min]="1"
        [max]="100"
      ></p-inputNumber>
    </div>
    <div class="p-field">
      <label for="maxY">Max Y</label>
      <p-inputNumber
        id="maxY"
        [(ngModel)]="editMatrix.maxY"
        [min]="1"
        [max]="100"
      ></p-inputNumber>
    </div>
    <ng-template pTemplate="footer">
      <button
        pButton
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        (click)="displayEditDialog = false"
      ></button>
      <button
        pButton
        label="Update"
        icon="pi pi-check"
        class="p-button-text"
        (click)="updateMatrix()"
      ></button>
    </ng-template>
  </p-dialog>

  <p-dialog
    [(visible)]="displayAddDroneDialog"
    [style]="{ width: '500px' }"
    header="Add Drone to Matrix"
    [modal]="true"
    styleClass="p-fluid"
  >
    <div class="p-field">
      <label for="droneName">Name</label>
      <input
        id="droneName"
        type="text"
        pInputText
        [(ngModel)]="newDrone.name"
        required
      />
    </div>
    <div class="p-field">
      <label for="droneModel">Model</label>
      <input
        id="droneModel"
        type="text"
        pInputText
        [(ngModel)]="newDrone.model"
        required
      />
    </div>
    <div class="p-grid">
      <div class="p-col-6 p-field">
        <label for="droneX">X Position</label>
        <p-inputNumber
          id="droneX"
          [(ngModel)]="newDrone.x"
          [min]="0"
          [max]="matrix?.maxX ? matrix.maxX - 1 : 0"
        ></p-inputNumber>
      </div>
      <div class="p-col-6 p-field">
        <label for="droneY">Y Position</label>
        <p-inputNumber
          id="droneY"
          [(ngModel)]="newDrone.y"
          [min]="0"
          [max]="matrix?.maxY ? matrix.maxY - 1 : 0"
        ></p-inputNumber>
      </div>
    </div>
    <div class="p-field">
      <label for="droneOrientation">Orientation</label>
      <p-dropdown
        id="droneOrientation"
        [options]="orientationOptions"
        [(ngModel)]="newDrone.orientation"
        optionLabel="label"
        optionValue="value"
      ></p-dropdown>
    </div>
    <ng-template pTemplate="footer">
      <button
        pButton
        label="Cancel"
        icon="pi pi-times"
        class="p-button-text"
        (click)="displayAddDroneDialog = false"
        title="Cancel adding drone"
      ></button>
      <button
        pButton
        label="Add"
        icon="pi pi-check"
        class="p-button-text"
        (click)="addDrone()"
        title="Add the new drone"
      ></button>
    </ng-template>
  </p-dialog>
</div>
