<div class="matrix-grid-container">
  <div
    class="matrix-grid"
    [style.grid-template-columns]="'repeat(' + matrix.maxX + ', 1fr)'"
  >
    <div *ngFor="let row of grid; let y = index">
      <div *ngFor="let cell of row; let x = index" class="grid-cell">
        <div
          *ngIf="cell"
          class="drone-cell"
          [pTooltip]="getDroneTooltip(cell)"
          tooltipPosition="top"
        >
          <i
            class="pi"
            [ngClass]="getOrientationIcon(cell.orientation)"
            aria-hidden="true"
          ></i>
          <span class="drone-name">{{ cell.name }}</span>
        </div>
        <div *ngIf="!cell" class="empty-cell">
          <span class="cell-coords">({{ x }}, {{ matrix.maxY - 1 - y }})</span>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-legend">
    <div class="legend-item">
      <div class="legend-icon drone-cell">
        <i class="pi pi-arrow-up" aria-hidden="true"></i>
      </div>
      <span>Drone</span>
    </div>
    <div class="legend-item">
      <div class="legend-icon empty-cell"></div>
      <span>Empty Cell</span>
    </div>
  </div>
</div>
